<h1>Tasks#index</h1>
<p>In this page you can see all the tasks</p>

<% @tasks.each_with_index do |task, index| %>
  <h3>Task nยบ<%= index+1%></h3>
  <p>Name: <%= task.name %></p>
  <p>Description: <%= task.description %></p>
<% end %>
