<h1>Tasks#new</h1>

<form action="/tasks" method="post">
  <label for="name">Name: </label>
  <input type="text" name="task[name]" id="name">

  <label for="description">description: </label>
  <input type="text" name="task[description]" id="description">

  <input type="submit">
</form>
